<app-navbar></app-navbar>
<br><br>
<div class="form-div">
  <h5 class="header">Reset Password</h5>
  <br>
  <div class="button-div">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="formGroup">
            <input type="email" class="formControl" placeholder="Email Address" #passwordResetEmail required>
          </div>
    
          <!-- Calling ForgotPassword from AuthService Api -->
          <div class="formGroup">
            <button type="submit" class="btn btn-dark" (click)="authService.resetPassword(passwordResetEmail.value)">Reset</button>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
