.test-game-button {
  border-radius: 15px;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  padding: 5px;
  background-color: rgb(240, 219, 149);
  width: 15%;
  box-shadow: 5px 5px 5px gray;
}

.test-game-button:hover {
  background-color: rgb(236, 212, 101);
}
