<div>
  <app-navbar-logged-in></app-navbar-logged-in>
  <h1 class="title">{{ title }}</h1>
  <div class="generalStat">
    <span>Average Score: {{ averageScore }}</span>
    <span>Play Time: {{ playNum }}</span>
  </div>
  <table class="table-fill">
    <thead>
      <tr>
        <th class="text-left">Email</th>
        <th class="text-left">Score</th>
      </tr>
    </thead>
    <tbody class="table-hover">
      <tr *ngFor="let hs of highScore">
        <td class="text-left">{{hs.email}}</td>
        <td class="text-left">{{hs.score}}</td> 
      </tr>
    </tbody>
  </table>
</div>


