<div>
  <h3 class="leaderboardHeader">Leaderboard and Statistics</h3>
  <div class="leaderboardDiv">
    <br>
    <div class="generalStat">
      <span>Average Percent Correct: {{ averagePercentCorrect }}%</span>
      <span>Times Played: {{ numPlays }}</span>
    </div>
    <table class="table-fill">
      <thead>
        <tr>
          <th class="text-left">Email</th>
          <th class="text-left">Score</th>
        </tr>
      </thead>
      <tbody class="table-hover">
        <tr *ngFor="let hs of topScoreList">
          <td class="text-left">{{hs.email}}</td>
          <td class="text-left">{{hs.score}}</td> 
        </tr>
      </tbody>
    </table>
    <br>
  </div>
</div>


