<div>
  <app-navbar-logged-in></app-navbar-logged-in>
  <br><br>
  <h1 class="title">Subscriptions</h1>
  <br><br>

  <div class="subscriptions-div">
    <h4>Subscriptions</h4>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Email</th>
          <th scope="col">Unsubscribe</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let email of emails; let i = index">
          <td scope="col">{{ i }}</td>
          <td scope="col"> {{email}} </td>
          <td scope="col"><i *ngIf="email !== this.afAuth.auth.currentUser.email" class="fas fa-minus-circle unsubscribe-icon" (click)="removeSubscription(email)"></i></td>
        </tr>
      </tbody>
    </table>
  </div>

  <br><br>

  <div class="form-div">
    <h5 class="header">Add Subscription</h5>
    <p>Subscribe to a user to play all of their games.</p>

    <br>
    <div class="button-div">
      <div class="container">
        <div class="row">
          <div class="col">
            <form [formGroup]="subscribeForm">
              <div class="form-group" formArrayName="accessCodes">
                <label>Email address</label>
                <input type="email" formControlName="email" class="form-control">
                <br>
                <label for="quizAccessCode">Quiz Access Code</label>
                <input id="quizAccessCode" formControlName="quizAccessCode" class="form-control quizFormInput quizAccessCodeInput" type="text">
              </div>
              <br>
              <button type="submit" (click)="trySubscribe(subscribeForm.value)" class="btn btn-dark">Subscribe</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br><br>
  
</div>
