<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
  <a routerLink="/dashboard" class="navbar-brand" href="#"><i class="fas fa-home"></i></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="/createQuiz" class="nav-link" href="#">Create Quiz</a>
      </li>
      <li class="nav-item">
        <a routerLink="/subscriptions" class="nav-link" href="#">Subscriptions</a>
      </li>
      <li class="nav-item">
        <a routerLink="/friends" class="nav-link" href="#">Friends<span [hidden]="requests.length+invites.length == 0" class="badge badge-light">{{requests.length+invites.length}}</span></a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item centerNav">
        <form (submit)="searchQuizzes()">
          <input [(ngModel)]="searchTerm" name="searchTerm" id="searchInput" class="btn btn-dark" type="text" placeholder="Search Quiz" style="font-family:Arial, FontAwesome" />
          <button class="btn btn-dark" type="submit">Search</button>
        </form>
      </li>
    </ul>
    <ul class="nav navbar-nav ml-auto">
      <li class="nav-item">
        <a routerLink="" class="nav-link" href="#">Logout</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
