.quiz-div {
  border-style: solid;
  border-width: 2px;
  border-color: #5c99da;
  padding: 10px;
  background-color: white;
  margin-right: 10px;
  width: 300px;
  height: 150px;
  box-shadow: 10px 3px 10px gray;
  display: table; 
}

.quiz-title:hover, .deleteButton:hover, .editButton:hover {
  cursor: pointer;
}

.quiz-title {
  text-align: center;
}
button{
  display: block;
  margin-top: 2px;
}

.deleteButton {
  margin-left: 240px;
}

.quizOptions {
  position: absolute;
  top: 5px;
}