<div class="quiz-div">
  <div class="quizOptions" *ngIf="didCreateQuiz">
    <i class="fas fa-edit editButton" [routerLink]="['/editQuiz', this.id]"></i>
    <i class="fas fa-trash deleteButton" (click)="deleteQuiz(this.id)"></i>
  </div>
  <p class="quiz-title">{{ quizData.title }}</p>
  <button (click)="routeToSoloGame($event,id)" type="button" class="btn btn-secondary btn-sm">Single Player</button>
  <button (click)="routeToGame($event,id)" type="button" class="btn btn-secondary btn-sm">Local Multiplayer</button>
  <button (click)="routeToOnlineGame($event,id)" type="button" class="btn btn-secondary btn-sm">Online Multiplayer</button>
</div>

<router-outlet></router-outlet>
