<div class="quiz-div">
  <i *ngIf="didCreateQuiz" class="fas fa-trash deleteButton" (click)="deleteQuiz(this.id)"></i>
  <p class="quiz-title" (click)="routeToGame($event,id)">{{ quizTitle }}</p>
</div>
<button (click)="routeToSoloGame($event,id)" type="button" class="btn btn-primary">Play Solo</button>
<button (click)="routeToGame($event,id)" type="button" class="btn btn-primary">Play Multiplayer</button>
<button (click)="routeToOnlineGame($event,id)" type="button" class="btn btn-primary">Play Multiplayer Online</button>

