<div>
  <app-navbar-logged-in></app-navbar-logged-in>
  <br>
  <h1 class="title">Edit Quiz</h1>
  <br><br>
  <div class="button-div">
    <div class="container quizDiv">
      <div class="row">
        <div class="col">
          <form [formGroup]="quizEditForm" (ngSubmit)="updateQuiz(quizEditForm.value)">
            <label for="quizTitle"><strong>Quiz Title</strong></label>
            <input type="hidden" formControlName="userEmail" [ngModel]="getUserEmail()">
            <input id="quizTitle" formControlName="title" class="quizFormInput titleInput" type="text">
            <br><br>
            <hr>
            <table id="quizId" class="table">
              <thead>
                <tr>
                  <th scope="col">Question</th>
                  <th scope="col">Correct Answer</th>
                  <th scope="col">Choice #2</th>
                  <th scope="col">Choice #3</th>
                  <th scope="col">Choice #4</th>
                  <th scope="col">Dificulty</th>
                </tr>
              </thead>
              <tbody id="quizFormBody" formArrayName="questions">
                <tr *ngFor="let question of questionForms.controls; let i=index" [formGroupName]="i">       
                  <td><input formControlName="question" class="quizFormInput" type="text"></td>
                  <td><input formControlName="answer" class="quizFormInput" type="text"></td>
                  <td><input formControlName="fake1" class="quizFormInput" type="text"></td>
                  <td><input formControlName="fake2" class="quizFormInput" type="text"></td>
                  <td><input formControlName="fake3" class="quizFormInput" type="text"></td>
                  <td>
                    <select formControlName="difficulty" class="quizFormInput">
                      <option *ngFor="let d of difficulties" [ngValue]="d">{{ d }}</option>
                    </select>
                  </td>
                </tr>
              </tbody>
            </table>
            <div (click)="addQuestion()" class="addQuestionDiv">
              <i class="fas fa-plus plusIcon"></i>
              <br>
              Add Question
            </div>
            <br><br>
            <button type="submit" class="btn btn-dark">Update</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <br><br>
</div>

