<app-navbar-logged-in></app-navbar-logged-in>
<br>
<h1 class="detailHeader">{{ getQuizTitle() }}</h1>
<hr>
<h3 class="sectionHeader">Learning Objective</h3>
<div class="quizLearningObjective">
  <p>{{ getQuizLearningObjective() }}</p>
</div>

<h3 class="sectionHeader">Play Game</h3>
<div class="linkTableDiv">
  <table>
    <tr>
      <th></th>
      <th class="descriptionHeader"><strong>Description</strong></th>
    </tr>
    <tr>
      <td class="buttonDiv"><button (click)="routeToSoloGame($event)" type="button" class="gameButton btn btn-primary btn-sm">Single Player</button></td>
      <td class="description">
        Play a single player version of the game. Use the number keys to select answers that
        appear on the left side of the screen.
      </td>
    </tr>
    <tr>
      <td class="buttonDiv"><button (click)="routeToOnlineGame($event)" type="button" class="gameButton btn btn-primary btn-sm">Online Multiplayer</button></td>
      <td class="description">
        Play an online multiplayer version of the game. Click the link, and wait for an opponent to
        join the game from another computer.
      </td>
    </tr>
  </table>      
</div>
<br>
<h3 class="sectionHeader">How to play</h3>
<div class="quizLearningObjective">
  <p>Answer questions using keys [1], [2], [3], and [4].</p>
  <p>Guide your spaceship around incoming asteroids using [A] and [D].</p>
</div>
<br><br>
<app-quiz-stat></app-quiz-stat>
<br>
