.detailHeader {
  position: relative;
  left: 15px;
}

.sectionHeader {
  position: relative;
  left: 15px;
}

.linkTableDiv {
 padding: 15px;
 border-top: solid 3px black;
 border-bottom: solid 3px black;
 background-color: white;
}

.descriptionHeader {
  font-size: 1.3em;
}

.gameButton {
  margin-right: 15px;
}

.description {
  border: 2px solid black;
  padding: 10px;
}

.gameButton {
  width: 250px;
  height: 100%;
}

.quizLearningObjective {
  border: 3px solid black;
  background-color: white;
  margin: 30px;
  padding: 15px;
}